/* header */
body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

.about-header-div {
    height: 560px;
    background-image: url('../img/globe.png');
}

.header li {
    list-style: none;
}

.header-div a {
    color: var(--white, #FDFDFF);
    /* Title Medium/Light */
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.024px;
}

a:hover{
    color: #2E75DF;
}

header {
    position: relative;
    padding: 0 2rem;
}

/* navbar */

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.navbar .logo-links{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .logo a{
    color: var(--white, #FDFDFF);
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    text-decoration: none;
}

.navbar .links .linker{
    display: flex;
    gap: 2rem;
    padding-left: 90px;
    list-style: none;
}

.linker a{
    text-decoration: none;
    list-style: none;
    color: white;
}

.navbar .toggle-btn{
    color: #FDFDFF;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.login-btn{
    color: white;
    text-decoration: none;
}

.action-btn {
    background-color: #2E75DF;
    color: #FDFDFF;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 9px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    text-decoration: none;
}

.action-btn:hover{
    scale: 1.05;
    color: #FDFDFF;
}

.action-btn:active{
    scale: 0.95;
}

/* Hero */


#hero h1{
    text-align: center;
    font-size: 64px;
    margin-top: 215px;
    color: white;
}

#hero p{
    justify-content: center;
    padding-right: 20rem;
    font-size: 30px;
    font-weight: bolder;
}

/* About-body */

/* About contents */

.about-contents {
    overflow: hidden; /* Clear floats */
  }
  
.content {
    width: 640px; /* Each div takes px width */
    height: 110;
    float: left; /* Float the divs to the left */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    gap: 10px;
}

.about-brief-history {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: -0.02em;
    text-align: justify;
    color: #4E4B66;
    padding-top: 90px;
    padding-left: 99px;
}

.about-brief-history a{
    text-decoration: none;
    color: #2E75DF;
}

/* About Summary */

.about-summary{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-align: justify;
    padding-left: 45px;
    padding-top: 90px;
}

/* First-section */

.first-section {
    overflow: hidden; /* Clear floats */
  }
  
.first-section-content {
    width: 640px; /* Each div takes px width */
    height: 110;
    float: left; /* Float the divs to the left */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    gap: 10px;
}

.our-story-text{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: justify;
    padding-left: 90px;
    padding-top: 05px;
    width: 497px;
}


/* about-header */

.about-header{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: justify;
    padding-left: 90px;
    padding-top: 125px;
}

.about-who-are-globe{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: justify;
    padding-left: 0px;
    padding-top: 125px;
}


.who-are-globe{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: justify;
    padding-left: 50px;
    padding-top: 0px;
    width: 497px;
}


/* footer css */

.footer-background-color{
    background-color: #303444;
    font-family: 'Inter', sans-serif;
    margin: 150px 0px 0px 0px;
}
.footer-blog{
    color: white;
    font-size: 64px;
    margin: 10px 0px 10px 60px;
    letter-spacing: -0.25%;
    font-weight: 700;
}
.footer-body{
    display: flex;
}
.footer-hr{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.footer-ul{
    list-style: none;
}
.footer-body a{
    color:white ;
    text-decoration: none;
    
}
a:active{
    text-decoration: white;
}
.footer-pages{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    list-style: none;
    margin: 0px 20px 15px 20px;
    color: white;
}
.footer-tags{ 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5%;
    margin: 0px 20px 15px 20px;
    color: white;
    list-style: none;

}
.footer-newsletter{
    margin: 15px 0px 0px 300px;
}
.footer-news{
    color: white;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
}
input[type=email] {
    padding: 15px;
    border: 1px solid black;
    background-color: #303444;
    width: 200px;
    height: 25px;
}
::placeholder {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
input[type=submit] {
    background-color: #e0dcdc;
    color: #303444;
    border: none;
    padding: 14px 14px;
    font-size: medium;
    font-weight: 700;
    height: 56px;
}
