.header-div {
    height: 100vh;
    background-color: #000;
    background-image: url('../img/global-connections.png');
    background-size: cover;
    background-position: center;
}

.header li {
    list-style: none;
}

.header-div a {
    color: var(--white, #FDFDFF);
    /* Title Medium/Light */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.024px;
}

a:hover{
    color: #2E75DF;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: 'inter', sans-serif;
}

.navbar .logo-links{
    display: flex;
    align-items: center;
}

.navbar .logo a{
    color: var(--white, #FDFDFF);
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
}

.navbar .links .linker{
    display: flex;
    gap: 2rem;
    padding-left: 90px;
}



.navbar .toggle-btn{
    color: #FDFDFF;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: #2E75DF;
    color: #FDFDFF;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 9px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover{
    scale: 1.05;
    color: #FDFDFF;
}

.action-btn:active{
    scale: 0.95;
}

/* Dropdown Menu */

.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 240px;
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2 rem;
}

/* Hero */
section#hero{
    height: calc(100vh-60);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FDFDFF;
    padding-top: 10.4rem;
    padding-right: 34.2rem;
}

#hero h1{
    font-size: 5.18rem;
    margin-bottom: 2rem;
}

#hero p{
    justify-content: center;
    padding-right: 20rem;
    font-size: 30px;
    font-weight: bolder;
}

/* Responsive Design */
@media(max-width: 992px){
    .navbar .links,
    .navbar .action-btn .login-btn {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
}


