h1 {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    line-height: 64px;
    letter-spacing: -0.16px;

}

h2 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 10%;
     line-height: 48px;
    text-align: left;
    margin-left: 5%;
        text-transform: uppercase;
}



@media(max-width: 798px) {
    h1 {
        font-size: 40px;
    }
}

.ad {
    width: 90%;
    height: 505.466px;
    background-color: gray;
    justify-content: center;
    margin: 5% 5%;
    display: inline-flex;
    

}
.ad .small-btn {
    display: block;
}
.ad .ad_text {
    text-align: start;
    justify-self: center;
    align-self: center;
    padding-left: 50px;

}
.ad .ad_text .small-btn .small-text {
    color: #fff;


}

.ad .ad_text .big-text {
    color: #fff;
}

.ad .ad-btn {
    margin-top: 2%;

}

@media(max-width: 798px) {
    .ad {
        height: 250px;
    }
    .ad .ad_text {
        text-align: start;
        padding: 40px;
    }
}



#post .cards{
    
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;



}


.card {
    flex: 1;
    margin: 0.5rem;
    padding: 1rem;
    border: 0.5rem;
    min-width: 376px;
    margin: 10px;
}


.card img {
    width: 100%;
    height: auto;
}

.user-time {
    color:  #2F3244;
    font-size: 16px;
    font-weight: 700;

}
svg {
    display: inline-block;
    margin: 7px 0 0 45% ;

}
.big-text {
    width: 267px;
    height: 96px;
    font-size: 24px;
    font-weight: 700;
    color:  #2F3244;
    line-height: 32px;
}
.small-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.small-btn .small-text {
    width: 260px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5%;
    color: #2F3244;
    display: flex;
  


}
.small-btn button {
    display: inline-block;
    width: 89px;
    height: 40px;
    border-radius: 10px;
    background-color: blue;
    color: #fff;
    margin-left: px;
    padding: 6px;
    transition: background-color 0.2s;
    
    

}

footer {
    margin-top: 10%;
}
.footer-background-color{
    background-color: #303444;
    font-family: 'Inter', sans-serif;
}
.footer-blog{
    color: white;
    font-size: 64px;
    margin: 10px 0px 10px 60px;
    letter-spacing: -0.25%;
    font-weight: 700;
}
.footer-body{
    margin: 20px;
    display: flex;
}
.footer-hr{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.footer-ul{
    list-style: none;
}
.footer-body a{
    color:white ;
    text-decoration: none;
    
}
a:active{
    text-decoration: white;
}
.footer-pages{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    list-style: none;
    margin: 0px 20px 15px 20px;
    color: white;
}
.footer-tags{ 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5%;
    margin: 0px 20px 15px 20px;
    color: white;
    list-style: none;

}
.footer-newsletter{
    margin: 15px 0px 0px 300px;
}
.footer-news{
    color: white;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
}
input[type=email] {
    padding: 15px;
    border: 1px solid black;
    background-color: #303444;
    width: 200px;
    height: 25px;
}
::placeholder {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
input[type=submit] {
    background-color: #e0dcdc;
    color: #303444;
    border: none;
    padding: 14px 14px;
    font-size: medium;
    font-weight: 700;
    height: 56px;
}

