.header-div,
.header-read-more {
  height: 80vh;
  background-color: #000;
  background-image: url('../img/global-connections.png');
  background-size: cover;
  background-position: center;
}

.header-read-more {
  
  height: 488px;
}
.header li {
  list-style: none;
}

.header-div a, 
.header-read-more a {
  color: var(--white, #FDFDFF);
  /* Title Medium/Light */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.024px;
}

a:hover{
  color: #2E75DF;
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: 'inter', sans-serif;
}

.navbar .logo-links{
  display: flex;
  align-items: center;
}

.navbar .logo a{
  color: var(--white, #FDFDFF);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
}

.navbar .links .linker{
  display: flex;
  gap: 2rem;
  padding-left: 90px;
}



.navbar .toggle-btn{
  color: #FDFDFF;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action-btn {
  background-color: #2E75DF;
  color: #FDFDFF;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 9px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action-btn:hover{
  scale: 1.05;
  color: #FDFDFF;
}

.action-btn:active{
  scale: 0.95;
}


.quick-links {
  display: flex;
  flex-direction: row;
  color: #fff;

  

}
/* Dropdown Menu */

.dropdown-menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
  height: 240px;
}

.dropdown-menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu .action-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2 rem;
}

/* Hero */
section#hero{
  height: calc(100vh-60);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FDFDFF;
  padding-top: 10.4rem;
  padding-right: 34.2rem;
}

#hero h1{
  font-size: 5.18rem;
  margin-bottom: 2rem;
}

#hero p{
  justify-content: center;
  padding-right: 20rem;
  font-size: 30px;
  font-weight: bolder;
}

/* Responsive Design */
@media(max-width: 992px){
  .navbar .links,
  .navbar .action-btn .login-btn {
      display: none;
  }

  .navbar .toggle-btn {
      display: block;
  }

  .dropdown-menu {
      display: block;
  }
}

@media(max-width: 576px){
  .dropdown-menu {
      left: 2rem;
      width: unset;
  }
}

/* body */



h1 {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    line-height: 64px;
    letter-spacing: -0.16px;

}

h2 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 10%;
     line-height: 48px;
    text-align: left;
    margin-left: 5%;
        text-transform: uppercase;
}



@media(max-width: 798px) {
    h1 {
        font-size: 40px;
    }
}

.ad {
    width: 90%;
    background-image:url('../img/global-connections.png');
    height: 505.466px;
    background-color: #000;
    position: inherit;
    mix-blend-mode: darken;
    justify-content: center;
    margin: 5% 5%;
    display: inline-flex;
    background-position: left;
    

}
.ad .small-btn {
    display: block;
}
.ad .ad_text {
    text-align: start;
    justify-self: center;
    align-self: center;
    padding-left: 50px;

}
.ad .ad_text .small-btn .small-text {
    color: #fff;


}

.ad .ad_text .big-text {
    color: #fff;
}

.ad .ad-btn {
    margin-top: 2%;

}

@media(max-width: 798px) {
    .ad {
        height: 250px;
    }
    .ad .ad_text {
        text-align: start;
        padding: 40px;
    }
}



#post .cards{
    
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;



}


.card {
    flex: 1;
    margin: 0.5rem;
    padding: 1rem;
    border: 0.5rem;
    min-width: 376px;
    margin: 10px;
}


.card img {
    width: 100%;
    height: auto;
}

.user-time {
    color:  #2F3244;
    font-size: 16px;
    font-weight: 700;

}
svg {
    display: inline-block;
    margin: 7px 0 0 45% ;

}
.big-text {
    width: 267px;
    height: 96px;
    font-size: 24px;
    font-weight: 700;
    color:  #2F3244;
    line-height: 32px;
}
.small-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.small-btn .small-text {
    width: 260px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5%;
    color: #2F3244;
    display: flex;
  


}
.small-btn button {
    display: inline-block;
    width: 89px;
    height: 40px;
    border-radius: 10px;
    background-color: blue;
    color: #fff;
    margin-left: px;
    padding: 6px;
    transition: background-color 0.2s;
    
    

}

/* Read More */

#blog {
  margin: 5%;
}

.blog .post-title {
  width: 630px;
  height: 192px;
  top: 651px;
  left: 98px;
  font-weight: 700;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25%;
}

.profile-detailes {
  width: 1440px;
  top: 240px;
  left: 293px;
  display: flex;
  margin-top: 5%;
}

.use-img img{
  width: 100px;
  height: 100px;
  top: 906px;
  left: 90px;
  border-radius: 50%;
}

.user-name-and-time-of-post {
  display: flex;
  flex-direction: column;
  margin-top: 2%;

}

.user-name-and-time-of-post .user-name {
  width: 131px;
  height: 32px;
  top: 956px;
  left: 197px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

}

.user-name-and-time-of-post .time-of-post {
  width: 711px;
  height: 40px;
  top: 988px;
  left: 197px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}


.post-img-and-post-body {

}
.post-img-and-post-body .post-img {
  width: 1262px;
  height: 518px;
  top: 1280px;
  left: 88px;

}

.post-img-and-post-body span p {
  width: 1260px;
  height: 152px;
  top: 1879px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 1.5%;
  
}

footer {
    margin-top: 10%;
}
.footer-background-color{
    background-color: #303444;
    font-family: 'Inter', sans-serif;
}
.footer-blog{
    color: white;
    font-size: 64px;
    margin: 20px;
    letter-spacing: -0.25%;
    font-weight: 700;
}
.footer-body{
    margin: 20px;
    display: flex;
}
.footer-hr{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.footer-ul{
    list-style: none;
}
.footer-body a{
    color:white ;
    text-decoration: none;
    
}
a:active{
    text-decoration: white;
}
.footer-pages{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    list-style: none;
    margin: 0px 20px 15px 20px;
    color: white;
}
.footer-tags{ 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5%;
    margin: 0px 20px 15px 20px;
    color: white;
    list-style: none;

}
.footer-newsletter{
    margin: 15px 0px 0px 300px;
}
.footer-news{
    color: white;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
}
input[type=email] {
    padding: 15px;
    border: 1px solid black;
    background-color: #303444;
    width: 200px;
    height: 55px;
}
::placeholder {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
input[type=submit] {
    background-color: #e0dcdc;
    color: #303444;
    border: none;
    padding: 14px 14px;
    font-size: medium;
    font-weight: 700;
    height: 56px;
}

/* sign up css */
.login-container {
    width: 509px;
    height: 396px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 42px;
  }
  
  .login-title {
    width: 121px;
    height: 40px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    color: #2f3244;
  
  }
  
  .input-group {
    width: 509px;
    height: 82px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #2f3244;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  
  
  }
  
  .login-button {
    width: 509px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .forgot-password {
    text-align: right;
    font-size: 14px;
    color: #2f3244;
    cursor: pointer;
    font-weight: 700;
  }
  
  .signup-now {
    text-align: center;
    font-size: 16px;
  
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 700;
    text-decoration: none;
  
  
  }
  a{
    text-decoration: none;
    color:#2e75df;
  }

  .sign-up-body {
    background-image: url('../img/global-connections.png');
    background-position: left;
  }
  .darken-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control darkness */
    mix-blend-mode: multiply;
  }
  .signup-container {
    width: 509px;
    height: 708px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
  
  .signup-title {
    width: 121px;
    height: 40px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    color: #2f3244;
    font-weight: bold;
   
  }
  

  #signup-button {
    width: 509px;
    height: 50px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #signup-button:hover {
    background-color: #0056b3;
  }
  
  #sign-up {
   
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "inter";
}

#login {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: "inter";
}


  .login-link {
    text-align: center;
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    font-weight: 700;
  }
  a{
    text-decoration: none;
    color: #2e75df;
    font-weight: 700;
  }
